.column-layout{
    width:100%;
    padding: 32px 80px;

}

.column-container{
    display: flex;
    gap:24px;
}

.column-box{  
    display: flex;
    flex-direction: column;
    gap:4px;

}

.column-card-box{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-bottom: 10px;
}